<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true">
  <testsuites>
    <testsuite name="Galería de Fotos Tests">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./upload</directory>
      <directory suffix=".php">./album</directory>
    </include>
  </coverage>
</phpunit>
